.main_title_custom {
    background-color: #ecf3e1; /* Màu xanh nõn chuối */
    color: white; /* Đặt màu chữ thành trắng để tương phản với nền xanh nõn chuối */
    padding: 20px;
    text-align: center;
    border-radius: 10px; /* Bo tròn cho viền */
}
